.Title1,
.Title2,
.Title3 {
    background-color: white;
    font-size: 40px;
    text-align: left;
    text-emphasis: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  .Title1 {
    color: red;

  }

  .Title2 {
    color: green;

  }

  .Title3 {
    color: orange;
 
  }

  .Title4,
  .Title5,
  .Title6 {
    background-color: white;
    text-align: left;
    font-family: Papyrus, Times, serif;
  }

  .Title4 {
    color: red;

  }

  .Title5 {
    color: green;

  }

  .Title6 {
    color: orange;
 
  }